    @import url('https://fonts.googleapis.com/css2? family= Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200; 1.300;1.400;1.500;1.600;1.700;1.800;1.900 & display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    .bg-nav {
        background: rgb(255, 255, 255);
        box-shadow: 0px 0px 15px #000000;
        border-bottom: 1px #000000;
    }
    
    .logo {
        color: rgb(160, 20, 20);
    }
    
    #btn-nav {
        color: rgb(122, 21, 21);
        font-family: 'Poppins', sans-serif;
        transition: 0.5s;
    }
    
    #btn-nav:hover {
        color: rgb(100, 12, 12);
        transition: 0.5s;
    }
    
    #btn-nav2 {
        color: rgb(0, 0, 0);
        font-family: 'Roboto', sans-serif;
        transition: 0.5s;
    }
    
    #btn-nav2:hover {
        color: rgb(100, 12, 12);
        transition: 0.5s;
    }
    
    .btn-login {
        background: rgb(150, 18, 18);
        color: rgb(255, 255, 255);
        border-radius: 5px;
        transition: 0.5s;
    }
    
    .btn-login:hover {
        background: rgb(100, 12, 12);
        color: rgb(255, 255, 255);
        transition: 0.5s;
    }
    
    .d {
        line-height: 0.9em;
        text-decoration: none;
        font-size: 1vh;
        font-family: 'Roboto', sans-serif;
    }
    
    .d::after {
        content: '';
        width: 100px;
        height: 3px;
        display: block;
        background: rgb(150, 18, 18);
    }
    
    .quem-somos {
        font-family: 'Poppins', sans-serif;
        font-size: 3vh;
        color: #000000;
    }
    
    .bg-footer {
        background: #444444;
    }
    
    .bg-importante {
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        color: white;
        margin: 0px 50px;
    }
    
    .links {
        color: white;
        text-decoration: none;
        transition: all 0.3s;
        margin: 0px 50px;
    }
    
    #mar {
        margin: 0px 50px;
    }
    
    .ico {
        color: #c54a4a;
    }
    
    .links:hover {
        color: #941510;
        text-decoration: none;
        transition: all 0.3s;
    }
    
    .btn-rede {
        background: #415561;
        color: white;
        border-radius: 10%;
        transition: all 0.3s;
    }
    
    .btn-rede:hover {
        background: #941510;
        transition: all 0.3s;
    }
    
    .bg-dens {
        color: white;
        text-decoration: none;
        font-size: 2vh;
    }